@media only screen and (min-width: 768px) {
  .container {
    max-width: calc(var(--1) * 1440);
    margin-inline: auto;
    &.large {
      max-width: calc(var(--1) * 1800);
    }
  }
}

@media only screen and (max-width: 767.98px) {
  .container {
    max-width: 90%;
    margin-inline: auto;
  }
}
