@import '../../../styles/base/func';
.navigation{
    padding-block: size(12);
    background-color: #fff;
    margin-bottom: size(24);
    padding-inline: size(24);
    .navbar{
        .navLinks{
            display: flex;
            gap: size(50);
            @media #{max-width()} {
                overflow-x: scroll;
                &::-webkit-scrollbar {
                    display: none;
                  }
               }
            li{
                padding: size(8) size(12);
                border-radius: size(6);
                font-size: size(13);
                font-weight: size(500);
                @media #{max-width()} {
                   display: flex;
                   align-items: center;
                   justify-content: center;
                   text-align: center;
                   }
                &.activeLink{
                    background-color: #6938EF;
                    color: #fff;
                    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
                }
            }
        }
    }
 
}