@import '../../../styles/base/func';
.galaryCard {
  display: flex;
  flex-direction: column;
  gap: size(12);
  background-color: #fff;
  // max-width: size(200);
  // width: size(390);
  // height: size(328.16);
  padding: size(20);
  border-radius: size(12);
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
      font-size: size(16);
      font-weight: 500;
      color: #212529;
    }
    .plus {
      padding: size(9);
      background-color: #f4f3ff;
      color: #5925dc;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: size(4);
      img {
        width: size(12);
        height: size(12);
      }
    }
  }
  .activeImg {
    img {
      width: size(350);
      height: size(200);
      object-fit: cover;
      border-radius: size(8);
      @media #{max-width()} {
        width: 100%;
      }
    }
  }
  .passiveImg {
    display: flex;
    justify-content: space-around;
    img {
      width: size(50);
      height: size(40);
    }
    .previous,
    .next {
      width: size(37);
      height: size(37);
      background-color: #f4f3ff;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: size(20);
        height: size(20);
      }
    }
  }
}
