@import '../../styles/base/func';
.altyükleniciler{
    background-color: #fff;
    border-radius: size(12);
    padding-block: size(24);
    display: flex;
    align-items: center;
    justify-content: center;
    .content{
        text-align: center;
        font-size: size(13);
        font-weight: 500;
    }
 
}