@import '../../../styles/base/func';

.breadcrumb{
    display:flex;
    justify-content: space-between;
    padding-block: size(8);
    background-color: #fff;
    border-top: 1px solid #EFEFF6;
    border-bottom: 1px solid #EFEFF6;
    padding-inline: size(24);

    .title{
        font-size: size(15);
        text-transform: uppercase;
        font-weight: 700;
        color: #495057;
    }
    .content{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: size(8);
        font-size: size(13);
        font-weight: 400;
        color: #495057;
    }
}
.projectInfo{
    display: flex;
    gap: size(20);
    border: 1px solid rgba(239, 239, 246, 1);
    background-color: #fff;
    @media #{max-width()} {
        flex-direction: column;
      }
    .projectsCard{
        display: flex;
        // align-items: center;
        gap: size(12);
        padding: size(22);
        width: max-content;
        border: 1px solid red;
        background-color: #F4F3FF;
        border: 1px solid #EFEFF6;
        @media #{max-width()} {
            width: 100%;
          }

        .image{
            img{
                width: size(72);
                height: size(72);
            }
        }
        .desc{
            h3{
                color: #3E1C96;
                font-size: size(20);
                font-weight: 600;
            }
            .loading{
                color: #fff;
                background-color: #F1A218;
                padding: size(4);
                border-radius: size(4);
                font-size: size(11);
                font-weight: 500;
            }
        }
        .dot{
            width: size(24);
            height: size(24);
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: size(28);
            position: relative;
            top: -10px;
            right: -10px;
            svg{
                color: #495057;
                width: 13px;
                height: 13px;
            }
        }
    }
    .infoCard{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: size(8);
        @media #{max-width()} {
           text-align: center;
          }
        .agreement, .company{
            display: flex;
            flex-direction: column;
            gap: size(2);
            font-size: size(13);
            h5{
                color: #878A99;
                font-weight: 500;
            }
            h4{
                color: #212529;
                font-weight: 400;

            }
        }
    }
}