// :root {
//   --1: min(0.052vw, 1px);
//   --dsm-10: 2.41vw;
//   --dsm-1: 0.241vw;
// }
:root {
  --1: min(0.069vw, 1px);
  --ff-primary: '"Plus Jakarta Sans', sans-serif;
  --ff-secondary: "Merienda", cursive;

  @media only screen and (max-width: 767.98px) {
    --1:0.26vw;
  }
}
